:root {
    --sidebar-color: #0284c7;
    --main-content-background: #cbd5e1;
    --card-color: white;
    --card-border-color: #fbbf24;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --light-text-color: rgba(0, 0, 0, 0.6);
}

html {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* for debugging purposes */
/* div {
    border: 1px solid red;
} */

/* remove top and left gaps */
body {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-areas:
        "bar header header"
        "bar main main"
        "bar main main";
    grid-template-columns: 300px 80%;
    grid-template-rows: 200px 90%;
    height: 100vh;
}

/* sidebar  */

.sidebar {
    grid-area: bar;
    color: var(--card-color);
    background-color: var(--sidebar-color);
    padding-left: 5px;
}

.branding {
    display: grid;
    grid-template-columns: 80px 80px;
    align-items: center;
}

.branding .icon {
    height: 50px;
    width: 50px;
}

.branding p {
    font-weight: bold;
    font-size: 2rem;
}

.navigation {
    display: grid;
    grid-template-columns: 80px 80px;
    align-items: center;
}

.navigation p {
    font-weight: bold;
    font-size: 1.5rem;
}

.icon {
    height: 25px;
    width: 25px;
    padding-left: 10px;
}

.navigation .icon {
    padding-left: 20px;
}

/* header  */

.header {
    grid-area: header;
    background-color: var(--card-color);
    padding-left: 15px;
}

.searchbar {
    width: 80%;
    height: 50%;
    border-radius: 15px;
    background-color: var(--main-content-background);
    border: none;
}

.header .top {
    display: grid;
    grid-template-columns: 50px 1fr 100px 100px 200px;
    padding-top: 10px;
    align-items: center;
}

.profile-picture {
    height: 100px;
    width: 100px;
}

.header-icon {
    height: 50px;
    width: 50px;
}

.header .bottom {
    display: grid;
}

.account-greeting {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: end;
}

.header button {
    background-color: var(--sidebar-color);
    color: var(--card-color);
    padding: 15px;
    border-radius: 25px;
    border: none;
    width: 120px;
    height: 50px;
    font-weight: bold;
    font-size: 1rem;
}

/* main content */

.main-content {
    grid-area: main;
    background-color: var(--main-content-background);
    display: grid;
    grid-template-areas:
        "projects main-side";
    grid-template-columns: 70% 30%;
    padding: 15px;
}

/* projects */

.projects {
    grid-area: projects;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.projects-container p:not(.card-title) {
    color: var(--light-text-color);
}

.projects-container .card {
    background-color: var(--card-color);
    border-radius: 15px;
    box-shadow: 0px 2px 4px var(--shadow-color);
    padding: 45px;
    border-left: 15px solid var(--card-border-color);
    height: 250px;
}

.project-icons {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 10px;
}

/* announcements and trending */

.title,
.card-title,
.section-title {
    font-weight: bold;
}

.card-title {
    font-size: 1.2rem;
}

.section-title {
    font-size: 1.5rem;
}

.main-side {
    grid-area: main-side;
    display: grid;
    padding-left: 15px;
}

.announcements-container,
.trending-container {
    background-color: var(--card-color);
    border-radius: 15px;
    box-shadow: 0px 2px 4px var(--shadow-color);
    padding: 35px;
}

.announcements-container p:not(.title) {
    color: var(--light-text-color);
}

.section-1,
.section-2 {
    border-bottom: 1px solid var(--light-text-color);
}

.trending-container {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
}

.trending .bio {
    color: var(--light-text-color)
}

.trending .user-picture {
    height: 50px;
    width: 50px;
}

/* lists  */

ul,
li {
    list-style-type: none;
}

/* a links */

a {
    text-decoration: none;
    color: var(--card-color);
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: var(--main-content-background);
}

/* buttons */

button:hover {
    background-color: #026ca1;
}

h3:hover {
    color: var(--light-text-color)
}

input {
    font-size: 1rem;
    padding: 5px;
}

.clickable:hover {
    height: 30px;
    width: 30px;
}